importFrom("stats", "filter")
importFrom("magrittr", "%>%")
importFrom("magrittr", "%<>%")
importFrom("magrittr", "%T>%")
importFrom("magrittr", "%$%")
importFrom("stats", "na.omit", "reformulate")
importFrom("data.table", "rbindlist")
importClassesFrom("snpStats", "SnpMatrix")
import(ggplot2)
export(read_limix,
       format_gwas,
       get_accessions,
       plot_acc_map,
       get_expression,
       phenotype_by_snp,
       expression_by_snp,
       get_phenotype,
       get_nearest_genes,
       get_overlapping_genes,
       plot_gwas,
       snp_linkage,
       polymorph_impact,
       mine_gene)
