importFrom("stats", "filter")
importFrom("magrittr", "%>%")
importFrom("magrittr", "%<>%")
importFrom("magrittr", "%T>%")
importFrom("magrittr", "%$%")
importFrom("stats", "na.omit", "reformulate")
importFrom("data.table", "rbindlist")
import(ggplot2)
export(read_gwas,
       get_polymorph_acc,
       plot_acc_map,
       get_expression,
       intersect_expression_snp,
       retrieve_counts,
       plot_intersect_expression_snp,
       get_phenotype,
       intersect_phenotype_snp,
       intersect_phenotype_snpmatrix,
       plot_intersect_phenotype_snp,
       plot_intersect_phenotype_snpmatrix,
       get_SNPmatrix_acc,
       get_nearest_genes,
       get_overlapping_genes,
       plot_gwas,
       plot_annotated_gwas,
       snp_linkage,
       format_sommer_gwas,
       format_gwasflow,
       format_gwas,
       plot_anchored_ld)
